[user]
    name = kavin
    username = kavin81
    email = kavin6462@gmail.com
	signingkey =

[init]
    defaultBranch = main

[core]
    editor = code --wait
    hideDotFiles = false

[commit]
	gpgsign = true

[color]
    ui = true

[alias]

	pl = pull
	ps = push

	co = checkout
	cl = clone
	aa = add *

	f = fetch
	c = commit
	b = branch
	s = status

[tag]
	gpgsign = true
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
